body {
    background-color: #e0f7fa;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

#content div {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

/*Nav*/

nav li {
    display: inline-block;
}

nav a {
    text-align: center;
    color: #00251a;
    text-decoration: none;
    padding: 35px;
    display: block;
}

nav a:hover {
    background-color: #004d40;
    color: white;
}

#logo_link {
    padding-top: 5px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h2 {
    text-align: center;
}

h4 {
    color: #004d40;
}

.button-box {
    text-align: center;
}

.home-title {
    color: #004d40;
}

main {
    text-align: center;
}

#background {
    height: 725px;
}

.msg h2 {
    color: #e0f7fa;
    padding: 35px;
}

.msg p {
    color: #e0f7fa;
}

h2 {
    margin: 0;
}

.book:hover {
    background-color: #00251a;
    color:#166c52;
}   

.book, .join {
    background-color: #004d40;
    color: #e0f7fa;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
}

.join:hover {
    background-color: #00251a;
}

#background {
    background-color: #b2ebf2;
}

.msg {
    background-color: #004d40;
    line-height: 1.5em;
}

.msg p {
    padding-bottom: 15px;
}

/*Footer*/

footer {
    background-color: #006064;
    color: #e0f7fa;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #e0f7fa;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer a:hover {
    color: #80deea;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/*Images*/

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.card-img {
    border: 10px solid #00251a;
}

main section img {
    box-sizing: border-box;
}

/*Cards*/

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}