body {
    background-color: #e0f7fa;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
}

#content div {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/*Nav*/

nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #00251a;
    text-decoration: none;
    padding: 35px;
    display: block;
}

nav a:hover {
    background-color: #004d40;
    color: white;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero-msg h1 {
    text-align: center;
    color: #b2ebf2;
}

#hero-msg h2 {
    text-align: center;
    color: white;
}

.button-box {
    text-align: center;
}

.home-title {
    color: #004d40;
}

main {
    text-align: center;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg h2 {
    color: #e0f7fa;
    padding: 35px;
}

.msg p {
    color: #e0f7fa;
}

h2 {
    margin: 0;
}

.book:hover {
    background-color: #00251a;
    color:#166c52;
}   

.book, .join {
    background-color: #004d40;
    color: #e0f7fa;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
}

.join:hover {
    background-color: #00251a;
}

#background {
    background-color: #b2ebf2;
}

.msg {
    background-color: #004d40;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.msg p {
    padding-bottom: 15px;
}

/*Footer*/

footer {
    background-color: #006064;
    color: #e0f7fa;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #e0f7fa;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer a:hover {
    color: #80deea;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/*Images*/

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

.card-img, .mountains {
    width: 100%;
    border: 10px solid #00251a;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    grid-column: 2/7;
    grid-row: 5/8;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}

/*Cards*/

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

/*Smaller Devices*/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}